
  @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

body{
  background-color: gainsboro;
}
header{
  background: #ffff;
}

.container{
  padding: 0 100px;
  max-width: 1440px;
  margin: 0 auto;
}

.nav_bar{
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
}

.menu{
  list-style: none;
  display: flex;
}

.menu_li{
  margin-left: 38px;
}

.menu_link{
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 300;

  transform: translateX(-40%);
	transition-property: border-bottom;
	transition-duration: 100ms;
  transition-timing-function: linear;  
}

.logo{
  text-decoration: none;
  color: #5E8D7C;
  font-size: 36px;
  font-weight: 500;
}


.header_prev{
  background-image: url(https://images.unsplash.com/photo-1620388639854-6e23776162f0?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=1280&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY3NTIzNjQxNw&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1920);
  background-size: cover;
  background-position: 0 30%;
  height: 85vh;

}

.header_title{
  font-size: 65px;
  font-weight: 500;
  text-transform: uppercase;
  color: #81502C;
  position: absolute;
  top: 41vh
}

.about{
  background-color: #ffff;
  height: 100vh;
}

.blog{
  background-color: #EFEFEF;
  height: 100vh;
}

.works{
  background-color: #ffff;
  height: 85vh;
}

.title{
  padding: 50px 0;
  text-align: center;
  font-size: 36px;
  text-transform: uppercase;
}

.content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content_img{
  width: 42vw;
}

.content_text{
  font-size: 20px;
  font-weight: 300;
  width: 40vw;
}


.card {
  padding: 20px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30%;
  height: 30%;
}

.card_title {
  font-weight: 400;
  font-size: 24px;
  padding-bottom: 20px;
}

.card_text {
  padding-top: 30px;
  width: 100%;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  min-height: 230px;
}

.card_img{
  max-height: 220px;
}

footer{
  height: 15vh;
  background-color: #ffffff
}

.footer_text {
  display: flex;
  justify-content: center;
  height: 100%;
  font-weight: 300;
  font-size: 20px;
  align-items: center;
  text-align: center;
}


.burger-menu {
  display: none;
  width: 20px;
  height: 14px;
  cursor: pointer;
  position: absolute;
  right: 40px;
}
.burger-menu span {
  background: #5E8D7C;
  height: 3px;
  position: absolute;
  width: 100%;
  left: 0;
  border-radius: 2px;
}
.burger-menu span:first-child {
  top: 0;
}
.burger-menu span:nth-child(2) {
  top: 6px;
}
.burger-menu span:last-child {
  top: 12px;
}



@media screen and (max-width: 600px) {

  .burger-menu{
    display: block;
  }

  .menu.menu-show{
    top:0;
  }

  body.no-scroll{
    overflow: hidden;
  }

  .menu{
    top: -100vh;
    align-items: center;
    position: absolute;
    padding-top: 100px;
    z-index: 50;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background: #EFEFEF;
    transition: top 0.7s;
  }


  .burger-menu {
    width: 20px;
    height: 14px;
    cursor: pointer;
    position: absolute;
    right: 40px;
    z-index: 100; /*добавили, чтобы иконка бургер-меню была на одном уровне с меню*/
  }

  .burger-menu-close span:first-child {
    transform: rotate(45deg); /*повернули на 45 градусов*/
    top: 6px; 
  }
  .burger-menu-close span:nth-child(2) {
    opacity: 0; /*скрыли среднюю полоску*/
  }
  .burger-menu-close span:last-child {
    transform: rotate(-45deg); /*повернули на 45 градусов*/
    top: 6px;
  }

  .menu_li{
    margin-top: 20px;
    text-align: center;
  }

  .header_title {
    position: relative;
    top: 31vh;
    padding: 50px 10px;
    text-align: center;
    font-size: 36px;
    text-transform: uppercase
  }

  .nav_bar{
    justify-content: center;
  }

  .content{
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 30px;
  }

  .about{
    height: 100%;
  }

  .blog{
    height: 100%;
  }

  .works{
    height: 100%;
  }

  .title{
    padding: 24px;
  }

  .container{
    padding: 0 24px;
  }

  .content_img{
    width: 100%;
  }

  .content_text{
    padding-top: 16px;
    width: 100%;
    height: 100%;
  }

  .card{
    margin-bottom: 30px;
    width: 100%;
  }
  
}
@media screen and (min-width: 600px) and (max-width: 1200px) {

  .burger-menu{
    display: block;
  }
  .menu{
    display: none;
  }

  .content{
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 30px;
  }

  .about{
    height: 100%;
  }

  .blog{
    height: 100%;
  }

  .works{
    height: 100%;
  }

  .container{
    padding: 0 34px;
  }

  .content_img{
    width: 100%;
  }

  .content_text{
    padding-top: 30px;
    width: 100%;
    height: 100%;
  }

  .card{
    margin-bottom: 30px;
    width: 32%;
  }

  .blog .content{
    flex-direction: row;
  }
  
}



.menu_link:hover{
	border-bottom: #5E8D7C solid;
}

