
  @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

body{
  background-color: gainsboro;
}
header{
  background: #ffff;
}

.container{
  padding: 0 100px;
  max-width: 1440px;
  margin: 0 auto;
}

.nav_bar{
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
}

.menu{
  list-style: none;
  display: flex;
}

.menu_li{
  margin-left: 38px;
}

.menu_link{
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 300;
}

.logo{
  text-decoration: none;
  color: #5E8D7C;
  font-size: 36px;
  font-weight: 500;
}


.header_prev{
  background-image: url(https://images.unsplash.com/photo-1620388639854-6e23776162f0?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=1280&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY3NTIzNjQxNw&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1920);
  background-size: cover;
  background-position: 0 30%;
  height: 85vh;

}

.header_title{
  font-size: 65px;
  font-weight: 500;
  text-transform: uppercase;
  color: #81502C;
  position: absolute;
  top: 41vh
}

.about{
  background-color: #ffff;
  height: 100vh;
}

.blog{
  background-color: #EFEFEF;
  height: 100vh;
}

.works{
  background-color: #ffff;
  height: 85vh;
}

.title{
  padding-top: 50px;
  text-align: center;
  font-size: 36px;
  text-transform: uppercase;
}

.content{
  padding: 50px 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content_img{
  width: 600px;
}

.content_text{
  font-size: 20px;
  font-weight: 300;
  width: 600px;
}


.card {
  padding: 20px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 48vh;
}

.card_title {
  font-weight: 400;
  font-size: 24px;
  padding-bottom: 20px;
}

.card_text {
  padding-top: 30px;
  width: 325px;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
}

footer{
  height: 15vh;
  background-color: #ffffff
}

.footer_text {
  display: flex;
  justify-content: center;
  height: 100%;
  font-weight: 300;
  font-size: 20px;
  align-items: center;
  text-align: center;
}


.burger-menu {
  display: none;
  width: 20px;
  height: 14px;
  cursor: pointer;
  position: absolute;
  right: 40px;
}
.burger-menu span {
  background: #000000;
  height: 2px;
  position: absolute;
  width: 100%;
  left: 0;
}
.burger-menu span:first-child {
  top: 0;
}
.burger-menu span:nth-child(2) {
  top: 6px;
}
.burger-menu span:last-child {
  top: 12px;
}



@media screen and (max-width: 600px) {

  .burger-menu{
    display: block;
  }
  .menu{
    display: none;
  }

  .header_title {
    font-size: 36px;
    width: 175px;
    text-align: center;
    position: relative;
    top: 31vh;
    justify-self: center;
  }

  .nav_bar{
    justify-content: center;
  }
  
}
@media screen and (min-width: 600px) {

  .burger-menu{
    display: block;
  }
  .menu{
    display: none;
  }

  .header_title {

  }
  
  .c2 {
    width: 50%;
  }
  
  .c1 {
    width: 25%;
  }
}

@media screen and (min-width: 1200px) {
  .burger-menu{
    display: none;
  }
  .menu{
    display: flex;
  }
}